@model ForgotPasswordVM

@{
    ViewData["Title"] = "ForgotPassword";
}



<main>
    <div class="spacingSize" style="    margin-bottom: 13rem;"></div>
    <section class="login">
        <div class="conteniar">
@*            <a href="c:\users\asus\desktop\pandora-development\pandora\pandorawebmvc\views\account\forgotpassword.cshtml">c:\users\asus\desktop\pandora-development\pandora\pandorawebmvc\views\account\forgotpassword.cshtml</a>
*@            <div class="forgotPass">
                <div class="forgotPass__box">
                    <h1 class="login__title">Parolunuzu Sıfırlayın</h1>
                    <h4 class="login__subtitle">
                        Parolunuzu sıfırlamaq üçün sizə e-poçt göndərəcəyik
                    </h4>
                    <form method="post" asp-controller="Account" asp-action="ForgotPassword">
                        <div class="setup__box-group">
                            <span class="text-danger" asp-validation-for="Email"></span>

                            <input type="email" asp-for="Email"
                                   class="setup__box-input"
                                   placeholder="Email" />
                            <label class="payBasketleftSide__placholder" for="email">
                                E-mail
                            </label>
                        </div>
                        <div class="forgotpassword">
                            <div class="forgotpassword-button" style="text-align: center;margin-bottom: 2rem;margin-top: 2rem;">
                                <button style="background: black;
                                                   color: white;
                                                   font-weight: 400;
                                                   padding: 13px 38px 13px 38px;
                                                   text-transform: none;
                                                   font-size: 14px;
                                                   border-radius: 0;" type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">
                                    Göndər
                                </button>
                            </div>
                        </div>
                        <a asp-controller="Account" asp-action="Login" class="setup__box-register activeLogin">Ləğv et</a>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>









