@model FooterMenuItemCreateVM

@{
    ViewData["Title"] = "Create";

}

<div class="container">

    <div class="entert-form mt-5">

        <h1>Create Hotel</h1>

        <form method="post" enctype="multipart/form-data" asp-action="Create">

            <div class="form-group  mt-2 mb-3">
                <label for="formFile" class="form-label">Add FooterMenu</label>
                <select class="form-control" asp-for="FooterMenuId" asp-items="@ViewBag.Menus"></select>
            </div>


            <div class="form-group  mt-2 mb-3">
                <label class="labelstyle" for="translates[0].LangCode">Language Code</label>
                <input type="text" id="translates[0].LangCode" name="Translates[0].LangCode" class="form-control addhoverinput" value="az" required>

            </div>

            <div class="form-group  mt-2 mb-3">
                <label class="labelstyle" for="translates[0].Description">Description</label>
                <textarea id="translates[0].Description " name="Translates[0].Description" class="form-control addhoverinput" required></textarea>
            </div>

            <div class="form-group  mt-2 mb-3">
                <label class="labelstyle" for="translates[0].Name">Name</label>
                <textarea id="translates[0].Name " name="Translates[0].Name" class="form-control addhoverinput" required></textarea>
            </div>
            <div class="form-group  mt-2 mb-3">
                <label class="labelstyle" for="translates[1].LangCode">Language Code</label>

                <input type="text" id="translates[1].LangCode" name="Translates[1].LangCode" class="form-control addhoverinput" value="en" required>

            </div>

            <div class="form-group  mt-2 mb-3">
                <label class="labelstyle" for="translates[1].Description">Description</label>
                <textarea id="translates[1].Description " name="Translates[1].Description" class="form-control addhoverinput" required></textarea>
            </div>
            <div class="form-group  mt-2 mb-3">
                <label class="labelstyle" for="translates[1].Name">Name</label>
                <textarea id="translates[1].Name" name="Translates[1].Name" class="form-control addhoverinput" required></textarea>
            </div>
            <div class="form-group  mt-2 mb-3">
                <label class="labelstyle" for="translates[2].LangCode">Language Code</label>

                <input type="text" id="translates[2].LangCode" name="Translates[2].LangCode" class="form-control addhoverinput" value="ru" required>

            </div>

            <div class="form-group  mt-2 mb-3">
                <label class="labelstyle" for="translates[2].Description">Description</label>
                <textarea id="translates[2].Description" name="Translates[2].Description" class="form-control addhoverinput" required></textarea>
            </div>
            <div class="form-group  mt-2 mb-3">
                <label class="labelstyle" for="translates[2].Name">Name</label>
                <textarea id="translates[2].Name" name="Translates[2].Name" class="form-control addhoverinput" required></textarea>
            </div>

            <button type="submit" class="btn createbuttonn">Create</button>
        </form>
    </div>
</div>


<script src="~/ckeditor/ckeditor.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var textareaElements = document.querySelectorAll("textarea[id^='translates']");

        for (var i = 0; i < textareaElements.length; i++) {
            if (textareaElements[i].id.includes("Description")) {
                CKEDITOR.replace(textareaElements[i].id);
            }
        }
    });
</script>



