@{
    ViewData["Title"] = "Dashboard";
}

 <section class="pandora-container">
        <div class="container">
          <div class="row">
            <div class="pandora-banner-div">
              <h3 class="pandora-banner-title">Dashboard</h3>
            </div>
            <div class="height-100 mt-5 bg-light">
            </div>
          </div>
        </div>
   </section>